<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    <!-- <p style="background-color: antiquewhite;">ヘッダー</p> -->
    <p class="card-panel teal #b3e5fc light-blue lighten-4">TO DO リスト</p>
    {% block content %}
<!-- ここにメインコンテンツを書く -->
    {% endblock %}
    <!-- <p style="background-color: darkseagreen;">フッター</p> -->
    <p class="card-panel teal #b3e5fc light-blue lighten-4"> </p>
</body>
</html>